.ProjectContainer {
  border-top: 1px solid #8e8484;
  padding-left: 5px;
  padding-right: 5px;
}
.ProjectTitle {
  font-family: 'Karla';
  font-size: 30px;
}
.ProjectMajorText {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 18px;
}
.ProjectMinorText {
  font-family: 'Karla';
  font-size: 15px;
}
.LinkText {
  color: black;
  text-decoration: none;
}
.DisplayNone {
  display: none;
}
