.ResumeDivide {
  margin: 0px;
  border-bottom:  1px solid #8e8484;
  color: #8e8484;
  font-family: "Mukta Malar", "Karla"
}

.ResumeTitle {
  font-family: 'Karla';
  font-size: 30px;
  display: inline;
}

.ResumeDate {
  display: inline;
  position: absolute;
  right: 22%;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: 'Karla';
}

.ResumeMiscText {
  font-family: 'Karla';
}
